
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(10, 9, 9);
}
.cv-container{
    margin-top: 2%;
    background: rgb(84, 74, 74);
    padding: 10px;
    box-shadow: -1px -2px 10px 5px red, 1px 2px 10px 5px blue;
    border-radius:5px;
}

#title{
    font-size: 30px;
    text-align: center;
    background: rgb(50, 49, 49);
    color: white;
    padding: 10px;
    border: 1px dotted rgb(180, 247, 12);
}

.row-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image{
    display:flex;
    align-items: center;
    justify-content: center;
    background:rgb(123, 154, 154);
    padding: 5px;
    border-radius:10px 10px 0px 0px ;
}

img{
    height: 200px;
    width:200px;
    border-radius: 50%;
    border: 2px solid #000;
}

#userId{
   font-size: 16px;
   font-weight: bold;
   color: #fff;
   border-radius: 50%;
   /* margin-top: -40px; */
   margin-top: -20%;
   margin-left: -5%;
}
#profile {
    border-radius: 0px 0px 10px 10px ;
    border-top: 2px solid #000
}
li{
    font-size:20px;
    font-weight:500;
    letter-spacing:1px;
    color: rgb(6, 53, 207);
}
.btn {
    background: #000;
    font-size:18px;
    font-weight:500;
    letter-spacing:1px;
    color:white;
}
.btn:hover{
  background:rgb(15, 22, 24);
  color:rgb(7, 237, 61);
}
#time{
    color:rgb(145, 255, 0);
    font-size:24px;
    font-weight:600;
}

@media screen and (max-width:420px){
    #title{
        font-size: 20px;
        text-align: center;
        background: rgb(50, 49, 49);
        color: white;
        letter-spacing:0.6px;
    }
    li{
        font-size:16px;
        font-weight:bold;
        letter-spacing:1px;
        color: #000;
        list-style: none;
    }
    #time{
        font-size:18px;
        margin-top: 5%;
    }
}